@import url("../css/bootstrap.css");
@import url("../icon/style.css");
@font-face{
    font-family:Louis;
    src: url('../fonts/Louis\ George\ Cafe\ Light.ttf');
}
body{
    font-family: Louis,arial;
    --color_primary:#ff7f00;
    --color_black2:#495057;
    color:var(--color_primary);
}
h1,h2,h3,h4,h5,h6{
    margin: 0;
}
img{
    max-width: 100%;
}
a:hover{
    text-decoration: none;
}
.iconos{
    color: var(--color_primary);
}
/*Header o encabezado*/
header{
    background-color: white;
    padding: 10px 0;
    box-shadow: 0 5px 10px rgba(204,204,204,.31);
}
header h1{
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 600;
}
header .avatar-continer{
    width: 60px;
    height: 60px;
    position: relative;
    cursor: pointer;
}
header .avatar-continer img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
}
header .avatar-continer span{
    position: absolute;
    left: 0;
    top: 0;
    font-size: 20px;
    color: var(--color_primary);
}
 header .profile-option-modal .profile-option-list{
    margin: 0;
    padding: 0;
    list-style: none;
 }
  header .profile-option-modal .profile-option-list li a{
    display: block;
    color: var(--color_black2);
    padding: 10px 0;
  }
  header .profile-option-modal .profile-option-list li a span{
      display: inline-block;
      width: 10px;
      text-align: center;
      margin-right: 30px;
  }